.app
    display: flex
    flex-flow: column
    justify-content: center
    button
        all: unset
        cursor: pointer
        width: calc( 100% - 24px )
        background-color: rgb(126,87,255)
        padding: 14px 12px
        margin-top: 12px
        display: flex
        justify-content: center
        align-items: center
        background-image: linear-gradient(200deg, var(--secondary), rgba(142, 97, 255, 0) 34%), radial-gradient(circle farthest-corner at 0% -100%, var(--primary) 20%, rgba(205, 219, 248, 0) 51%), linear-gradient(180deg, var(--secondary), var(--primary))

.header
    display: flex
    align-items: center
    justify-content: space-between
    background-color: rgb(30,30,30)
    padding: 8px 12px
    img
        width: 34px
        height: 34px
    .dropdown
        position: relative
        .current
            display: flex
            align-items: center
            justify-content: space-between
            padding: 8px 12px 8px 16px
            border: 1px solid #808080
            border-radius: 7px 7px
            cursor: pointer
            p
                margin: 0
                margin-right: 12px
                max-width: 250px
                overflow: hidden
                text-overflow: ellipsis
            svg
                margin-right: -4px
        .options
            position: absolute
            background-color: rgba(27,27,27,1)
            box-shadow: 0 3px 10px rgba(0,0,0,0.35)
            border-radius: 7px 7px
            z-index: 9
            min-width: 100%
            max-width: 350px
            top: 56px
            max-height: 450px
            overflow-y: auto
            right: 0
            ul
                list-style: none
                padding: 0 6px
                margin: 0
                li
                    margin: 6px 0
                    cursor: pointer
                    font-size: 15px
                    background-color: rgb(33,33,33)
                    padding: 10px
                    border-radius: 7px 7px
                    box-shadow: 0 3px 10px rgba(0,0,0,0.3)
                    display: flex
                    justify-content: space-between
                    align-items: center
                    svg
                        width: 20px
                        min-width: 20px
                        opacity: 0.35
                    p
                        margin: 0
                        margin-right: 6px
                        overflow: hidden
                        text-overflow: ellipsis
            button
                border-radius: 0 0 7px 7px
                padding: 12px
                font-size: 14px
                margin-top: 0
.form
    padding: 0 12px
    input
        all: unset
        border-bottom: 1px solid rgb(30,30,30)
        padding-bottom: 12px
        margin: 12px 0
        width: 100%
    .buttons
        display: grid
        grid-template-columns: 1fr 1fr

    .btnWrapper:first-child
        margin-right: 10px

    .btnWrapper
        background-color: rgb(27,27,27)
        border-radius: 7px 7px
        padding: 6px
        cursor: pointer
        label
            cursor: pointer
            input
                display: none
            .content
                border-radius: 7px 7px
                padding: 0 6px
                background-color: rgb(33,33,33)
                box-shadow: 0 3px 10px rgba(0,0,0,0.3)
                border-radius: 7px 7px
                display: flex
                align-items: center
                p
                    white-space: nowrap
                    margin: 12px 0 12px 8px
                    font-size: 14px
                svg
                    height: 24px
                    min-width: 24px


.hero
    display: flex
    justify-content: center
    align-items: center
    .content
        h1
            font-size: 36px
            margin: 0
        p
            font-size: 14px
            margin: 0
            margin-top: 6px
            opacity: 0.5
    svg
        margin-left: -12px

.wrapper
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column
    padding-bottom: 12px
    position: relative

.loginloader
    position: relative
    background-color: #252525
    width: 100%
    height: 3px
    margin-top: 12px
    .progress
        width: 100%
        height: 100%
        background-color: var(--primary)
        position: absolute
        left: 0

.loader
    border: 5px solid #252525
    border-top: 5px solid var(--primary)
    border-radius: 50%
    width: 100px
    height: 100px
    animation: spin 1s linear infinite

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)